<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            {{this.user.firstName}} {{this.user.lastName}}
        </h4>
        <p class="card-text">
            Birthday: {{this.birthday}}
        </p>
    </div>
</div>